<h2><%= @person %></h2>
<% if @person.cats.size == 0 %>
<h5>No Cats</h5>
<% else %>
<h4>Cats</h4>
<% @person.cats.each do |cat| %>
<li>
<%= link_to "One Cat", [@person, cat] %>
</li>
<% end %>
</ul>
<% end %>

<%= link_to "New Cat", new_person_cat_path(@person), :remote => true %>
